body{
    background-color:lightgray;
   margin: 0;
    border-top:px;
    background-image: url(../Image/pexels-jess-bailey-designs-743986.jpg);
    background-size: 88%;
     
}

.conteiner .button {
    background-color:#0000CC ;
    text-align: center; 
    
    
}
.conteiner .button input {
    background-color: yellow;
    padding: 8px;
    margin: 0.5em;
}
.conteiner button{
    background-color: yellow;
    padding: 10px;
    margin: 0.5em;
    
    border-color: #ffff00;
    
    background-color: #ffff00; 
}
button{
    border-style:double;
    border-radius: 50%;
}
.button:active{
    color: green;
}
.u{
    text-align:right;
    padding-right: 40px;
    margin-right: 20px;
    color:black;
}
.add button{
     background-color: yellow;
    padding: 8px;
    margin: 0.5em;
    text-align: justify;
   
}
.add{
     padding:30px;
}
a{
    text-decoration: none ;
    color:black;
    
}
a:hover{
    color:white;
}
a:active{
    color:green;
}
.dorker form{
    text-align: center;
    margin-left:5em;
     margin-right:5em;
    margin-top:3em;
    margin-bottom:5em;
    
    background-image: url(../Image/pexels-jess-bailey-designs-743986.jpg);
    background-size:1%;
}
.u{
    text-align:right;
    padding-right: 40px;
    margin-right: 20px;
    color:yellow;
    font-size: 20px;
}
.cont{
    width: 40%;
    text-align: center;
}
form {   
    background-color: lightgoldenrodyellow;
    font-size: 20px;
}

.form_g input{  
    width:35%; 
     margin-bottom:20px;
    padding-bottom: 5px;   
}


